<div class="container">
    <h1 class="h1">We Are <b>Media</b></h1>
    <h6>Providing you with the most actionable App Store data.</h6>
    <h6>At Media, we want to solve the biggest problem in mobile: <em>everyone is guessing.</em></h6>
    <div class="about">
        <h1><strong>About Us</strong></h1>
    <h6>Publishers need to know what apps to build, how to monetize them, and where
         to price them. Advertisers and brands need to identify their target users, 
         and determine where to allocate resources in order to reach them most effectively.
         Investors need to know which apps and genres are growing the quickest, 
         and where users are really spending their time (and money).
         In business, we need data to make informed decisions. 
         Media provides the most actionable mobile app insights in the industry. 
         We aim to make this data available to as many people as possible.</h6>
         

    </div>
    
</div>
